<div class="container mt-5">
  <h3 class="text-center">Productos Registrados</h3>
  <!-- Botón de impresión -->
  <button class="btn btn-primary mb-3" onclick="window.print()">Imprimir Tabla</button>
  
  <!-- Estilo para cambiar el fondo -->
  <style>
    .table {
      background-color: #003366; /* Azul marino */
      color: rgb(45, 22, 172); /* Cambiar color del texto a blanco */
    }
    .table-striped tbody tr:nth-child(odd) {
      background-color: #003366; /* Azul marino para las filas impares */
      color: rgb(15, 17, 145); /* Texto blanco */
    }
  </style>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Fecha de Registro</th>
        <th>Cantidad en Stock</th>
        <th>Categoría</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.precio | currency }}</td>
        <td>{{ producto.fecha | date:'dd/MM/yyyy' }}</td>
        <td>{{ producto.cantidadStock }}</td>
        <td>{{ producto.categoria }}</td>
      </tr>
    </tbody>
  </table>
</div>
